:root {
    --highlight-color: #76ABAE;
    --color-light: #EEEEEE;
    --color-reg: #31363F;
    --color-dark: #222831;
}

html {
    /* background-color: var(--color-reg); */
    background-image: linear-gradient(to right, var(--color-reg) 0%, var(--color-dark) 100%);;
}

body {
    display: flex;
}

/* Fonts */

.font-g-reg {
    font-family: "Goldman", serif;
    font-weight: 400;
    font-style: normal;
}

.font-c {
    font-family: "Commissioner", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "FLAR" 0,
      "VOLM" 0;
}

/* ID Styles */

#folioHeader{
    margin: -10px;
    padding: 30px;
    position: fixed;
    background-color: var(--color-dark);
    width: 270px;
    height: 100vh;
}

#folioContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#folioImg {
    border-radius: 50%;
    border: .2rem solid var(--highlight-color);
    margin-bottom: 1rem;
    width: clamp(200px, 20%, 300px);
}

#headerLinks {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

#headerLinks a {
    width: 3rem;
    padding: 1rem;
    color: var(--highlight-color);
    transition: all 100ms ease;
}

#headerLinks a:hover {
    transform: translate(0px, -15px) scale(110%);
    transition: all 100ms ease;
}

#mobileHeader {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

#aboutMe {
    display: flex;
    flex-direction: column;
}

#navSection ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#navSection ul * {
    display: flex;
    text-decoration: none;
    color: var(--highlight-color);
    padding: 5px;
}

#navSection ul li:hover {
    transform: translate(20px, 0px);
    transition: all 100ms ease-in;
}

#projectGrid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

/* Class Styles */

.titleText {
    color: var(--highlight-color);
    font-size: 1.8rem;
    margin-top: 10px;
}

.icon {
    width: 10rem;
}

.iconLink path {
    fill: var(--highlight-color)
}

.pageContent {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    margin-right: 1vw;
    color: var(--highlight-color);
    width: 50vw;
    gap: 100px;
    font-size: 1.2rem;
}

.sectionHeader {
    align-self: flex-start;
    font-size: xx-large;
}

.projectCard {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
    background-color: var(--color-dark);
    filter: grayscale();
    transform: translate(0px, 0px);
    transition: all 300ms ease;
    scale: 90%;

}

.projectCard:hover {
    filter: grayscale(0);
    transform: translate(0px, -12px);
    transition: all 300ms ease;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}

.projectInfo:last-child {
    margin-bottom: 0px;
}

.projectFeatures{
    display: flex;
    padding: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.projectFeatures li {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    margin: 2px;
}

.feature {
    text-decoration: none;
    padding-inline: .6rem;
    padding-block: .2rem;
    background-color: var(--color-reg);
    font-size: small;
    border-radius: 6rem;
}

.projectCard img {
    justify-content: flex-end;
    width: 500px;
    border-left: 10px solid var(--highlight-color);
    height: 350px;
}

.projectRepo {
    background-color: var(--color-dark);
    border-color: var(--color-reg);
    color: var(--color-light);
    text-decoration: none;
    padding: 10px;
    transition: all 100ms ease-in;
}

.projectRepo:hover {
    background-color: var(--highlight-color);
    border-color: var(--color-light);
    color: var(--color-dark);
}

/* Queries */

@media (max-width: 800px){
    #folioHeader {
        display: none;
    }

    #mobileHeader {
        display: flex;
    }
    .pageContent {
        display: flex;
        margin-left: 1rem;
    }
    
}

@media (max-width: 1300px){
    
}
