:root {
    --highlight-color: #76ABAE;
    --color-light: #EEEEEE;
    --color-reg: #31363F;
    --color-dark: #222831;
}

html {
    background-color: var(--color-reg);
    /* background-image: linear-gradient(to right, var(--color-reg) 0%, var(--color-dark) 100%);; */
    scroll-behavior: smooth;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

footer {
    display: flex;
    justify-content: center;
}

/* Fonts */

.font-g-reg {
    font-family: "Goldman", serif;
    font-weight: 400;
    font-style: normal;
}

.font-c {
    font-family: "Commissioner", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "FLAR" 0,
      "VOLM" 0;
}

/* ID Styles */

#folioHeader{
    display: flex;
    margin: -10px;
    padding: 30px;
    position: fixed;
    background-color: var(--color-dark);
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--color-reg) 10px ), repeating-linear-gradient( var(--color-dark), var(--color-reg) );
    width: 270px;
    height: 100vh;
    border-right: solid .2rem var(--highlight-color);
}

#folioContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#folioImg, #folioImgMobile {
    border-radius: 50%;
    border: .2rem solid var(--highlight-color);
    margin-bottom: 1rem;
    width: clamp(200px, 20%, 300px);
}

#mobileHeader {
    display: none;
    margin: -5px;
    padding-top: 3rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-dark);
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, var(--color-reg) 10px ), repeating-linear-gradient( var(--color-dark), var(--color-reg) );
    border-bottom: solid .2rem var(--highlight-color);

    
}

#navSection ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#navSection ul * {
    display: flex;
    text-decoration: none;
    color: var(--highlight-color);
    padding: 5px;
    transition: all 100ms ease;
}

#navSection ul li:hover {
    transform: translate(20px, 0px);
}

#pageContent {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    margin-left: 300px;
    color: var(--highlight-color);
    width: auto;
    gap: 100px;
    font-size: 1.2rem;
    box-shadow: inset 10px var(--highlight-color);
}

#pageContent > section {
    /* background-color: var(--color-reg); */
    padding: 5rem;
}
#pageContent > section:nth-child(2n + 1) {
    background-color: var(--color-dark);
}

#aboutMe {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

#areas div {
    margin-bottom: 50px;;
}

#projectsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projectGrid {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 50px;
}

#langsList, #techList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skillsSection {
    display: flex;
    flex-direction: column;
}

#langsList *, #techList * {
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-bottom: 15px;
    align-self: center;
    padding: inherit;
}

/* Class Styles */

.titleName {
    color: var(--highlight-color);
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 5px;
    text-shadow: 0px 0px 12px var(--highlight-color);
    animation: glow 4000ms ease-in-out infinite forwards;
}
.titleSub {
    color: var(--highlight-color);
    font-size: 1.8rem;
    text-shadow: 0px 0px 5px white;
    margin-bottom: 20px;
    animation: glow 4000ms ease-in-out 2000ms infinite forwards;
}

@keyframes glow {
    20% {
        text-shadow: 0px 0px 1px var(--highlight-color);
    }
    40% {
        text-shadow: 0px 0px 0px;
    }
}

.headerLinks {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 3rem;
}

.headerLinks a {
    width: 3rem;
    padding: 1rem;
    color: var(--highlight-color);
    transition: all 100ms ease;
}

.headerLinks a:hover {
    transform: translate(0px, -15px) scale(110%);
}

.headerLinks a:hover path {
    fill: white;
}

.icon {
    width: 10rem;
    padding: 5px;
}

.iconLink path {
    fill: var(--highlight-color);
}

.sectionHeader {
    align-self: flex-start;
    font-size: xx-large;
    margin-bottom: 2rem;
}

.iconSpan {
    svg {
        filter: grayscale();
        transition: all 100ms ease;
    }
    p {
        opacity: 0;
        transition: all 100ms ease;
    }
}

.iconSpan:hover {
    svg {
        filter: grayscale(0);
        transform: translate(0px, -20px);
    }
    p {
        opacity: 100%;
    }
}

.projectCard {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-between;
    background-color: var(--color-dark);
    filter: grayscale();
    transform: translate(0px, 0px);
    transition: all 300ms ease;
}

.projectCard:hover {
    filter: grayscale(0);
    transform: translate(0px, -12px);
    transition: all 300ms ease;
}

.projectInfo {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
}

.projectInfo:last-child {
    margin-bottom: 0px;
}

.projectFeatures{
    display: flex;
    padding: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.projectFeatures li {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    margin: 2px;
}

.feature {
    text-decoration: none;
    padding-inline: .6rem;
    padding-block: .2rem;
    background-color: var(--color-reg);
    font-size: small;
    border-radius: 6rem;
}

.projectCard img {
    justify-content: flex-end;
    width: 500px;
    border-left: 10px solid var(--highlight-color);
    height: 100%;
}

.projectRepo {
    background-color: var(--color-dark);
    border: 2px solid var(--color-reg);
    color: var(--color-light);
    text-decoration: none;
    padding: 10px;
    transition: all 100ms ease-in;
    margin-bottom: 10px;
}

.projectRepo:hover {
    background-color: var(--highlight-color);
    border-color: var(--color-light);
    color: var(--color-dark);
}

/* Queries */

@media (max-width: 1280px){
    #folioHeader {
        display: none;
    }

    #projectGrid {
        gap: calc(100px);
    }

    #mobileHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--highlight-color);
        font-size: 1.2rem;
        background-size: cover;
    }

    #pageContent {
        margin: -1rem;
        padding: 0 0 1rem 0;
        display: flex;
        flex-direction: column;
        align-self: center;
        color: var(--highlight-color);
        font-size: 1.2rem;
        width: auto;
    }

    #pageContent > * {
        padding: 20px;
    }



    .titleName {
        font-size: 3rem;
    }

    .icon {
        width: 20vw;
    }

    .iconSpan {
        svg {
            filter: grayscale(0);
            transition: all 100ms ease;
            animation: floating 3s forwards 0s infinite ease-in-out;
        }
        p {
            opacity: 100;
            transition: all 100ms ease;
            font-size: .8rem;
        }
    }

    @keyframes floating {
        50% {
            transform: translate(0px, -10px);
        }
    }
    

    .projectCard {
        display: flex;
        flex-direction: column-reverse;
        align-self: center;
        justify-content: space-between;
        background-color: var(--color-dark);
        filter: grayscale(0);
        transition: all 300ms ease;
        width: min(100%, 500px);
    }

    .projectCard img {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        border-left: none;
        border-bottom: 10px solid var(--highlight-color);
        height: min(350px, 100%);
    }

    .projectInfo {
        flex-wrap: wrap;
        flex-direction: row;
        padding: .2rem;
        width: 90%;
    }

    .projectInfo p {
        width: 95%;
    }

    .projectFeatures {
        width: 90%;
    }

    .projectRepo {
        width: 20%;
        height: 30px;
        text-align: center;
    }
    
}

